<% include ./partials/header %>

<div class="row">
    <h1 style="text-align: center">About</h1>
    <div style="width: 80%; margin: 25px auto;">
        <div class="panel-body">
            Thanks for taking the time to visit here.  This is a pretty simple web application
            built with:
            <ul>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>Mongoose</li>
                <li>NodeJS</li>
            </ul>
            It also includes bootstrap, fontawesome, some jQuery, and a few node APIs.  I built
            the bare bones through a Web Development bootcamp and have been using this as a 
            demo/sandbox for continuing to learn and practice my new craft.  Feel free to play
            around but try not to remove too much content if you're playing on admin!
            <br>
            <br>
            Thanks!
            <br>
            Sean Tillotson
            <br>
            <a href="https://github.com/stillot2/yelpcamp" target="_blank">github-source-code</a>
        </div>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<% include ./partials/footer %>