<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to yelpCamp</h1>
        <p>Demo full-stack, RESTful app</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
        </p>
    </div>
</header>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% data.forEach(function(site){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%=site.image%>" onerror="this.src='https://images.unsplash.com/photo-1496080174650-637e3f22fa03?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7ca353cfcc4299e6c3d431ff862e1cf&auto=format&fit=crop&w=400&q=60'"> 
                <div class="caption">
                    <h4><%=site.name %></h4> 
                </div>
                <p>
                    <a href="/campgrounds/<%=site._id%>" class="btn btn-primary">More Info</a>
                </p>
            </div> 
        </div>
    <% }); %>
</div>
        
<% include ../partials/footer %>